.opendictate-box {
    spacing: 2px;
    padding: 0px 2px;
    align-items: center;
}

.opendictate-action-button {
    border-radius: 9999px;
    width: 26px;
    height: 26px;
    padding: 0px;
    margin: 0px 1px;
    background-color: rgba(255, 255, 255, 0.18);
    border: none;
    box-shadow: none;
    transition-duration: 120ms;
}

.opendictate-action-button:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

.opendictate-action-button:active {
    background-color: rgba(255, 255, 255, 0.45);
}

.recording {
    color: #ed333b; /* Red GNOME color */
}

.paused {
    color: #f6d32d; /* Yellow GNOME color */
}

.opendictate-waveform {
    width: 60px;
    height: 24px;
    margin: 0 2px;
}

.opendictate-time-label {
    font-weight: bold;
    font-feature-settings: "tnum";
    margin: 0 2px;
}

.opendictate-send-icon {
    color: #57e389; /* Green GNOME color */
}

.opendictate-cancel-icon {
    color: #ed333b; /* Red GNOME color */
}
